<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/hero-logo.png") %>">
    </div><div class="right">
      <h2 class="vue">Cement</h2>
      <h1>
        Application Framework for Python
      </h1>
      <p>
        <a class="button" href="<%- url_for("/2.10/dev/") %>">GET STARTED</a>
        <a class="button white" href="https://github.com/datafolklabs/cement" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Flexible</h2>
      <p>Core pieces of the framework are customizable via a robust interface and handler system, and ships with a feature-rich and growing extension library.</p>
    </div>

    <div class="point">
      <h2>Liteweight</h2>
      <p>Core library does not rely on any external dependencies (optional extensions may have required dependencies)</p>
    </div>

    <div class="point">
      <h2>Reliable</h2>
      <p>
          100% test coverage using <a href="https://pytest.org/" target="_blank">Pytest</a>, <a href="https://coverage.readthedocs.io/" target="_blank">Coverage</a>, and <a href="https://travis-ci.org/datafolklabs/cement/" target="_blank">Travis CI</a>. 100% PEP8 and style compliant using <a href="http://flake8.pycqa.org/en/latest/" target="_blank">Flake8</a>.
      </p>
    </div>

    <div class="point">
      <h2>Dynamic</h2>
      <p>Framework and application hooks allow developers to execute code at the exact moment of runtime they need.</p>
    </div>

    <div class="point">
      <h2>Versatile</h2>
      <p>From single-file scripts, to multi-tier applications; Cement offers the simplicity of a micro-framework, with the capabilities of a mega-framework.  </p>
    </div>

    <div class="point">
      <h2>Clean / MVC</h2>
      <p>
        Full support to build a complete Model, View, Controller based application.  Clean code, happy coder!
      </p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <h3>PROUDLY SPONSORED BY</h3>
    <%- partial('partials/sponsors') %>
    <br>
    <a class="become-sponsor button white" href="<%- url_for("/backers/") %>">Become a Backer</a>
  </div>
</div>

<div id="footer">
  <p>The Cement Framework is Open Source and released under the <a href="https://opensource.org/licenses/BSD-3-Clause" target="_blank">3-Clause BSD License</a><br>
  This beautiful theme was created by <a href="https://vuejs.org/" target="_blank">Evan You + Vue.js</a><br>
  Copyright &copy; 2009-<%- new Date().getFullYear() %> <a href="http://datafolklabs.com" target="_blank">Data Folk Labs, LLC</a></p>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
