<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="<%- url_for("/portland/dev/") %>" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Developer Guide</a></li>
<li><a href="<%- url_for("/portland/api/") %>" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<li><a href="<%- url_for("/portland/examples/") %>" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Examples</a></li>
<%- partial('partials/resources_dropdown') %>
